DEBUG=1
SECRET_KEY=CHANGEMEPLEASE
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=https://yoursitehere.com
CACHE_BACKEND=django.core.cache.backends.redis.RedisCache
CACHE_LOCATION=redis://localhost:6379
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
DATABASE_URL=sqlite:///db.sqlite3
